@import "~antd/dist/antd.css";

p {
  margin: 0px;
}

.navbar-container {
  padding: 68px 24px;
}

h1 {
  margin-bottom: 0;
  line-height: 1;
  color: #1890ff;
  font-size: 24px;
  font-family: "DM Sans";
}

h2 {
  margin-bottom: 0;
  line-height: 1;
  color: #595959;
  font-size: 16px;
  font-family: "DM Sans";
}

.ant-card-head {
  padding: 0 16px;
}
.ant-card-body {
  padding: 16px;
}

.card-header {
  margin: 8px 0;
}

.navbar-footer {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar-container {
    padding: 60px 10px;
  }
}
