.chooser .ant-card-body {
  padding: 0px 16px;
}

.chooser .ant-list {
  line-height: 1;
}

.chooser .ant-list-item-meta-title {
  margin-bottom: 0;
  line-height: 1;
}
.chooser li.ant-list-item {
  padding: 4px 0;
}

.chooser {
  width: 100%;
  max-width: 800px;
}

.chooser-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.chooser .ant-card-bordered {
  margin: 8px 0px;
}
