.logo {
  width: 32px;
  margin-left: 20px;
}

.navbar p {
  margin-right: 20px;
  line-height: 1;
}

.navbar .mobile-wrapper {
  padding: 10px;
  color: white;
}

.logo-mobile {
  font-size: 20px;
}
.navbar h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-footer a {
  color: #595959;
}

.navbar-footer a :hover {
  color: #1890ff;
}
