.filter-dropdown {
  display: flex;
  align-items: center;
}

.filter-dropdown > * {
  margin: 8px;
}

.filters-pane > * {
  margin: 4px;
  width: 100%;
}

.filter-modal {
  display: none;
}
.filter-modal h1 {
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 1050px) {
  .filter-modal {
    display: flex;
    position: fixed;
    top: 60px;
    z-index: 99;
  }
}
