.header {
  position: fixed;
  top: 0px;
  height: 200px;
  z-index: 2;
  margin: auto;
  width: calc(100% - 48px);
}

.header .blur {
  filter: blur(10px);
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 180px;
  z-index: 2;

  background-color: white;
}

.header .ant-col {
  margin-top: 68px;
  z-index: 3;
}

@media only screen and (max-width: 500px) {
  .header {
    width: calc(100% - 68px);
  }
}
