.header {
  position: fixed;
  top: 0px;
  height: 200px;
  z-index: 2;
  margin: auto;
  width: calc(100% - 48px);
}

/* Create a div below the header card to create fade */
.header .blur {
  filter: blur(10px);
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 180px;
  z-index: 2;

  background-color: white;
}

.header .ant-select {
  width: 100%;
  min-width: 200px;
}

/* Move card below navbar */
.header .ant-card {
  margin-top: 80px;
  z-index: 5;
}

.header .dropdown {
  margin-left: 12px;
}

@media only screen and (max-width: 768px) {
  .header {
    width: calc(100% - 20px);
  }
  .header .dropdown {
    margin-top: 8px;
  }
}
