@import "~antd/dist/antd.css";

.navbar {
  font-family: "DM Sans";
  height: 68px;
  background-color: white;
  z-index: 2;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
}

p {
  margin: 0px;
}

.navbar-container {
  margin: 68px 20px;
}

h1 {
  margin-bottom: 0;
  color: #595959;
  font-size: 20px;
  font-family: "DM Sans";
}

.ant-card-head {
  padding: 0 16px;
}
.ant-card-body {
  padding: 16px;
}

.card-header {
  margin: 8px 0;
}

@media only screen and (max-width: 500px) {
  .navbar {
    height: 50px;
    background-color: #1890ff;
  }

  .navbar-container {
    margin: 60px 10px;
  }
}
