.navbar {
  font-family: "DM Sans";
  height: 50px;
  z-index: 99;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navbar a {
  color: #595959;
  line-height: 1;
}

.navbar .desktop {
  display: flex;
  position: fixed;
  margin-top: 24px;
}

.navbar .left {
  position: fixed;
  margin-left: 24px;
  left: 0;
}

.navbar .right {
  position: fixed;
  margin-right: 24px;
  right: 0;
}

.navbar .mobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar .desktop {
    display: none;
  }
  .navbar .mobile {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .navbar h1 {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  .navbar .mobile .logo {
    color: white;
    font-size: 20px;
  }
  .navbar {
    height: 50px;
    background-color: #1890ff;
  }
}
